<!-- WELCOME
================================================== -->
<section data-jarallax data-speed=".8" class="pt-12 pt-md-14 pb-12 pb-md-15 overlay overlay-black overlay-60 bg-cover jarallax" style="margin-top: -83px; background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922); height: 400px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 text-center">

        <!-- Headin -->
        <h1 class="display-2 font-weight-bold text-white">
          À propos.
        </h1>

        <!-- Text -->
        <p class="lead text-white-75 mb-4">
          Voici notre petite équipe, toujours unie pour valoriser le contenu Open Source !
        </p>

        <!-- Badges -->
        <hr class="border-gray-300 my-6">
        <p class="text-white-75 mt-5">
          Suivez-nous sur les réseaux !
        </p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- MAIN
================================================== -->
<main class="pb-8 pb-md-11 mt-md-n6">
  <div class="container-md">
    <div class="row">
      <div class="col-12 col-md-3">

        <!-- Card -->
        <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

          <!-- Collapse -->
          <div class="collapse d-md-block" id="sidenavCollapse">
            <div class="card-body">

              <!-- Heading -->
              <h6 class="font-weight-bold text-uppercase mb-3">
                The Hacking Project
              </h6>

              <!-- List -->
              <ul class="card-list list text-gray-700 mb-0">
                <li class="list-item">
                  <%=link_to "Github", "https://github.com/AmauryDBZ/THP_final_project", class:"list-link text-reset"%>
                </li>
                <li class="list-item">
                  <%=link_to "Notre mentor", "https://github.com/davidBentoPereira", class:"list-link text-reset"%>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <!-- Card -->
        <div class="card card-bleed shadow-light-lg">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">

                <!-- Heading -->
                <h4 class="mb-0">
                  L'équipe
                </h4>

              </div>
            </div>
          </div>
          <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush">

              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xl">
                      <%= image_tag "https://pictures.kitties.netlib.re/storage/ben.jpg", class: "avatar-img rounded-circle lift lift-lg shadow-light-lg", alt: "bouile de Benjamin" %>
                    </div>

                  </div>
                  <div class="col-6 ml-n5">

                    <!-- Heading -->
                    <p class="mb-0">
                      Benjamin Avazeri
                    </p>

                    <!-- Text -->
                    <%= link_to "Github", "https://github.com/BenValadilaine", class: "github_links" %>

                  </div>
                  <div class="col-auto ml-auto">
                    <span class="badge badge-secondary-soft">Full-Stack</span>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xl">
                      <%= image_tag "https://pictures.kitties.netlib.re/storage/amaury.jpg", class: "avatar-img rounded-circle lift lift-lg shadow-light-lg", alt: "bouille d'Amaury" %>
                    </div>

                  </div>
                  <div class="col-6 ml-n5">

                    <!-- Heading -->
                    <p class="mb-0">
                      Amaury DBZ
                    </p>

                    <!-- Text -->
                    <%= link_to "Github", "https://github.com/AmauryDBZ", class: "github_links" %>

                  </div>

                  <div class="col-auto ml-auto">
                    <span class="badge badge-secondary-soft">Full-Stack</span>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xl">
                      <%= image_tag "https://pictures.kitties.netlib.re/storage/juliet.jpg", class: "avatar-img rounded-circle lift lift-lg shadow-light-lg", alt: "bouille de Juliet" %>
                    </div>

                  </div>
                  <div class="col-6 ml-n5">

                    <!-- Heading -->
                    <p class="mb-0">
                      Juliet De Rozario
                    </p>

                    <!-- Text -->
                  <%= link_to "Github", "https://github.com/JulietDeRozario", class: "github_links"%>

                  </div>
                  <div class="col-auto ml-auto">
                    <span class="badge badge-secondary-soft">Full-Stack</span>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xl">
                      <%= image_tag "https://pictures.kitties.netlib.re/storage/julien.jpg", class: "avatar-img rounded-circle lift lift-lg shadow-light-lg", alt: "bouille de Julien" %>
                    </div>

                  </div>
                  <div class="col-6 ml-n5">

                    <!-- Heading -->
                    <p class="mb-0">
                      Julien Lamalle
                    </p>

                    <!-- Text -->
                  <%= link_to "Github", "https://github.com/JulienLamalle", class: "github_links" %>

                  </div>
                  <div class="col-auto ml-auto">
                    <span class="badge badge-secondary-soft">CTO</span>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xl">
                      <%= image_tag "https://pictures.kitties.netlib.re/storage/benoit.png", class: "avatar-img rounded-circle lift lift-lg shadow-light-lg", alt: "bouille de Benoit" %>
                    </div>

                  </div>
                  <div class="col-6 ml-n5">

                    <!-- Heading -->
                    <p class="mb-0">
                      Benoit Ferretti
                    </p>

                    <!-- Text -->
                    <%= link_to "Github", "https://github.com/benferretti", class: "github_links" %>

                  </div>
                  <div class="col-auto ml-auto">
                    <span class="badge badge-secondary-soft">Project-Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</main>
