<!-- HEADER
================================================== -->
<header class="bg-dark pt-9 pb-11 d-none d-md-block">
  <div class="container-md">
    <div class="row align-items-center">
      <div class="col">
        <!-- Heading -->
        <h1 class="font-weight-bold text-white mb-2">
          Profil développeur
        </h1>
        <!-- Text -->
        <p class="font-size-lg text-white-75 mb-0">
          Informations de <%=@user.email%>
        </p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</header>

<!-- MAIN
================================================== -->
<main class="pb-8 pb-md-11 mt-md-n6">
  <div class="container-md">
    <div class="row">
      <div class="col-12 col-md-3">

        <!-- Card -->
        <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

          <!-- Collapse -->
          <div class="collapse d-md-block" id="sidenavCollapse">
            <div class="card-body">

              <!-- Heading -->
              <h6 class="font-weight-bold text-uppercase mb-3">
                Informations
              </h6>

              <!-- List -->
              <ul class="card-list list text-gray-700 mb-6">
                <li class="list-item active">
                  <a class="list-link text-reset">
                    Générales
                  </a>
                </li>
                <li class="list-item">
                  <a class="list-link text-reset" href="#professional_informations">
                    Infos professionnelles
                  </a>
                </li>
                <li class="list-item">
                  <a class="list-link text-reset" href="#projects">
                    Projets
                  </a>
                </li>
                <% if @bankdetail && current_user.is_admin %>
                <li class="list-item user-info">
                  <%= link_to "RIB", user_bank_detail_path(user_id: @user, id: @bankdetail), class: "user-info" %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>

        </div>

      </div>
      <div class="col-12 col-md-9">
        <!-- Card -->
        <div class="card card-bleed shadow-light-lg mb-6">
          <div class="card-header">

            <!-- Heading -->
            <h4 class="mb-0">
              Informations générales
            </h4>

          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-11">
                <ul class="list-group list-group-flush mt-5">

                  <li class="list-group-item mt-5">

                    <!-- Heading -->
                    <h6 class="d-flex mb-0 text-uppercase">
                      Prénom <span class="ml-auto"><%= @user.first_name %></span>
                    </h6>
                  </li>

                  <li class="list-group-item">

                    <!-- Heading -->
                    <h6 class="d-flex mb-0 text-uppercase">
                      Nom <span class="ml-auto"><%= @user.last_name %></span>
                    </h6>
                  </li>

                  <li class="list-group-item">
                    <!-- Heading -->
                    <h6 class="d-flex mb-3 text-uppercase">
                      Email <span class="ml-auto"><%= @user.email %></span>
                    </h6>
                  </li>

                  <li class="list-group-item">
                    <!-- Heading -->
                    <h6 class="d-flex mb-3 text-uppercase">
                      Date de naissance
                      <span class="ml-auto">
                        <%if @user.date_of_birth != nil %>
                        <%=@user.date_of_birth.strftime("%d/%m/%Y")%>
                        <%end%>
                      </span>
                    </h6>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <!-- Card -->
        <div class="card card-bleed shadow-light-lg mb-8">
          <div class="card-header">

            <!-- Title -->
            <h4 class="mb-0">
              Description
            </h4>

          </div>
          <!-- Text -->
          <div class="card-body">
            <p class="text-muted mb-0">
              <%=@user.personal_description%>
            </p>
          </div>
        </div>

        <!-- Card -->
        <div class="card card-bleed shadow-light-lg mb-6" id="professional_informations">
          <div class="card-header">

            <!-- Heading -->
            <h4 class="mb-0">
              Parcours professionnel
            </h4>

          </div>
          <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <p class="text-muted">
                      <%= @user.professional_background %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="list-group-item">

                <!-- Heading -->
                <p class="mb-0">
                  Liens pratiques
                </p>

                <div class="col-12 col-md-11">
                  <ul class="list-group list-group-flush mt-5">
                    <li class="list-group-item">
                      <!-- Heading -->
                      <h6 class="d-flex mb-0 text-uppercase">
                        Github <a class="ml-auto" href="<%= @user.link_of_github %>"><%= @user.link_of_github %></a>
                      </h6>
                    </li>

                    <li class="list-group-item">
                      <!-- Heading -->
                      <h6 class="d-flex mb-3 text-uppercase">
                        Linkedin <a class="ml-auto" href= "<%=@user.link_of_linkedin%>%"><%= @user.link_of_linkedin %></a>
                      </h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</main>


<% if @projects.length > 0 %>
  <!--Users' Projects-->
  <section class="pt-7 pt-md-10">
    <div class="container">
      <div class="row">
        <div class="col-12" id="projects">

          <!-- Heading -->
          <h3 class="mb-0">
            Tous les projets
          </h3>

          <!-- Text -->
          <p class="mb-5 text-muted">
            Projets publiés par <%=@user.email%>
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-12 col-md-6 d-flex">
            <!-- Card -->
            <div class="card mb-6 shadow-light-lg lift lift-lg">

              <%= link_to project_path(project), style: "text-decoration: none" do %>
                <!-- Image -->
                <% if project.cover.attached? %>
                  <%= image_tag project.cover.variant(resize: '480x320').processed, class: "card-img-top" %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1060&q=80", class: "card-img-top" %>
                <% end %>
                <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/>
                    </svg>
                  </div>
                </div>

                <!-- Body -->
                <div class="card-body">

                  <!-- Heading -->
                  <h3>
                    <%= project.name %>
                  </h3>

                  <!-- Text -->
                  <p class="mb-0 text-muted">
                    <%= project.pitch %>
                  </p>

                </div>

                <!-- Meta -->
                <div class="card-meta mt-auto">

                  <!-- Divider -->
                  <hr class="card-meta-divider">

                  <!-- Author -->
                  <% if project.user.first_name && project.user.last_name %>
                    <h6 class="text-uppercase text-muted mr-2 mb-0">
                      <%= project.user.first_name + ' ' + project.user.last_name  %>
                    </h6>
                  <% end %>

                  <!-- Date -->
                  <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                    <%= project.created_at.strftime('%d/%m/%Y')  %>
                  </p>

                </div>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </section>
<%end%>
