<%= devise_error_messages! %>

<section class="section-border border-primary">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            
            <!-- Heading -->
            <h1 class="mb-0 font-weight-bold text-center">
              Vous avez oublié votre mot de passe ?
            </h1>

            <!-- Text -->
            <p class="mb-6 text-center text-muted">
              Entrez votre email afin de réinitialiser votre mot de passe.
            </p>

            <!-- Form -->
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'mb-5'}) do |f| %>


              <div class="form-group mb-5">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-flush" %>
              </div>

              <div class="actions">
                <%= f.submit "Envoyez moi mes instructions par mail", class: "btn btn-primary" %>
              </div>
              <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
