<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
  </div>
</div>

<!-- ARTICLES
    ================================================== -->
<section class="pt-7 pt-md-10">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Heading -->
        <h3 class="mb-0">
          Tous les projets
        </h3>

        <!-- Text -->
        <p class="mb-5 text-muted">
          Acceptez / refusez les projets.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row">
    <% @projects.each do |project| %>
      <% if !(project.validated) %>

        <div class="col-12 col-md-6 d-flex">

          <!-- Card -->
          <div class="card mb-6 shadow-light-lg lift lift-lg">

            <!-- Image -->

              <%= link_to project_path(project), style: "text-decoration: none" do %>
              <!-- Image -->
              <img src="https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1060&q=80" alt="..." class="card-img-top">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                </div>
              </div>



            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <h3>
                <%= project.name %>
              </h3>

              <!-- Text -->
              <p class="mb-0 text-muted">
                <%= project.pitch %>
              </p>

            </div>

            <!-- Meta -->
            <div class="card-meta mt-auto">

              <!-- Divider -->
              <hr class="card-meta-divider">

              <!-- Author -->
              <% if project.user.first_name && project.user.last_name %>
                <%= link_to user_fr_path(project.user), class: "text-uppercase text-muted mr-2 mb-0", title:"Voir le profil" do %>
                  <%= project.user.first_name + ' ' + project.user.last_name  %>
                <%end%>
              <%else%>
                <%=link_to "Voir le développeur", user_fr_path(project.user), class: "text-uppercase text-muted mr-2 mb-0", title:"Voir le profil"%>
              <% end %>

              <!-- Date -->
              <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                <%= project.created_at.strftime('%d/%m/%Y')  %>
              </p>

            </div>
            <%end%>
          </div>

        </div>

        <%end%>
      <%end%>
  </section>
