
    <!-- WELCOME
================================================== -->
  <section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url(https://images.unsplash.com/photo-1500627965408-b5f2c8793f17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Heading -->
            <h1 class="display-3 text-white">
              L'Open Source à la française.
            </h1>

            <!-- Text -->
            <p class="lead text-white-75 mb-6">
              Notre objectif est de mettre en lumière et d'aider les porteurs de projets dans le domaine du logiciel libre français. Découvrez le meilleur du logiciel libre, faites un don ou bien présentez à notre communauté votre projet.
            </p>

            <!-- Button -->
            <a><%= link_to new_project_path, :class => "btn btn-primary lift" do  %>
              Créez votre projet <i class="fas fa-arrow-right"></i>
              <% end %>
             

            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
  </div>
</div>

<!-- ARTICLES
    ================================================== -->
    <section class="pt-7 pt-md-10">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Heading -->
            <h3 class="mb-0">
              Tous les projets
            </h3>

            <!-- Text -->
            <p class="mb-5 text-muted">
              Découvrez les projets et aidez les développeurs avec un don !
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
        <% @projects.each do |project| %>
          <div class="col-12 col-md-6 d-flex">
            
            <!-- Card -->
            <div class="card mb-6 shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="#!">

                <!-- Image -->
                <img src="https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1060&q=80" alt="..." class="card-img-top">

                <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                  </div>
                </div>

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                  <%= project.name %>
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec condimentum quam. Fusce pellentesque faucibus lorem at viverra. Integer at feugiat odio. In placerat euismod risus proin erat purus.
                </p>

              </a>
                
              <!-- Meta -->
              <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">
                
                <!-- Author -->
                <h6 class="text-uppercase text-muted mr-2 mb-0">
                  Ab Hadley
                </h6>
                
                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                  <time datetime="2019-05-02">May 02</time>
                </p>

              </a>

            </div>

          </div>
          <%end%>
          </section>
    
    
<!-- CONTENT
================================================== -->
<section>
  <% @projects.each do |project| %>
  <div class="row mb-5 mt-10">
    <div class="col-12 col-xl-4 d-flex">
      
      
      <!-- Card -->
      <div class="card mb-6 mb-xl-0 shadow-light-lg lift lift-lg">
      
        <!-- Image -->
        <a class="card-img-top" href="#!">
          <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bluecross.org.uk%2Fsites%2Fdefault%2Ffiles%2Fd8%2Fassets%2Fimages%2F124044lpr.jpg&f=1&nofb=1", alt: "...", class: "img-fluid" %>
        </a>

        <!-- Shape -->
        <div class="position-relative">
          <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
          </div>
        </div>

        <!-- Body -->
        <a class="card-body" href="#!">

          <!-- Divider -->
          <hr class="card-meta-divider">

          <!-- Text -->
          <p class="mb-0 text-muted">
            <%= project.pitch %>
          </p>

        </a>

        <!-- Meta -->
        <a class="card-meta" href="#!">

          <!-- Ajouter au panier -->
          <p class="h6 text-uppercase text-muted mb-2 ml-auto">
            <%= link_to project_path(project), class: "btn btn-xs btn-rounded-circle btn-secondary ml-1", title: "Voir plus" do %>
              <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.iconfinder.com%2Fdata%2Ficons%2Ftrycons%2F32%2Fsearch-512.png&f=1&nofb=1"%>
            <%end%>
          </p>
        </a>
      </div>
      
    </div>
  </div> <!-- / .row -->
  <%end%>
</section>

<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
  </div>
</div>


