<!-- WELCOME
================================================== -->
<section class="position-relative d-block py-0 mb-10">

  <!-- Content -->
  <div class="d-flex justify-content-center">
    <div class="row align-items-center">

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 order-md-2 mx-auto text-center w-auto p-auto">
        <!-- Image -->
        <div class="img" data-aos="fade-up" data-aos-delay="100">
          <%= image_tag "https://pictures.kitties.netlib.re/storage/open_source.svg", class: "img-fluid",alt:"index"%>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 mx-auto mt-4 mt-md-4 mt-sm-4 text-center" data-aos="fade-up">
        <!-- Heading -->
        <h1 class="display-3 text-center">
          Participez aussi au <br>
          <span class="text-primary">Libre et à l'Open Source</span>.
        </h1>

        <!-- Text -->
        <p class="lead text-muted mb-6 text-center">
          Découvrez le meilleur du logiciel Libre et Open Source.
        </p>

        <!-- Buttons -->
        <div class="container">
            <%= link_to "Proposer votre projet", new_project_fr_path, class: "btn btn block btn-primary mr-1 lift" %>
            <%= link_to "Voir tous les projets", "#list_projects", class: "btn btn block btn-primary mr-1 lift", data:{ toggle: 'smooth-scroll', offset: '0' }%>
        </div>
      </div>
    </div> <!-- / .row -->
  </div>
</section>

<!-- Pitch cards
================================================== -->
<section class="container">
  <div class="mx-auto">
    <div class="card-deck" data-aos="fade-up">

      <div class="card card-border card-border-lg border-info shadow-light">
        <%= image_tag "https://pictures.kitties.netlib.re/storage/undraw_transfer_money_rywa.svg", class: "card-img-top mt-5", style: "height: 150px;" %>
        <div class="card-body">
          <p class="card-text text-justify text-gray-600"><strong>Un financement sous forme de pourboires pour l'équipe de développement d'un projet.</strong></p>
        </div>
      </div>

      <div class="card card-border card-border-lg border-info shadow-light">
        <%= image_tag "https://pictures.kitties.netlib.re/storage/undraw_time_management_30iu.svg", class: "card-img-top mt-5", style: "height: 150px;" %>
        <div class="card-body">
          <p class="card-text text-justify text-gray-600"><strong>Une visualisation du temps nécessaire au développement des outils que vous utilisez.</strong></p>
        </div>
      </div>

      <div class="card card-border card-border-lg border-info shadow-light">
        <%= image_tag "https://pictures.kitties.netlib.re/storage/undraw_online_wishes_dlmr.svg", class: "card-img-top mt-5", style: "height: 150px;" %>
        <div class="card-body">
          <p class="card-text text-justify text-gray-600"><strong> En résumé : une rémunération juste, c'est-à-dire plus de temps pour le développement et un outil de meilleure qualité !</strong></p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--Navigation ==============================-->
<section class="pt-7 pt-md-10 " data-aos="fade-up">
  <div class="container">

    <!--Choices-->
    <section class="pt-0 pt-md-0 pb-4 pt-md-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Card -->
            <div class="card-group card-border card-border-lg border-primary shadow-light-lg" id="menu">
                <div class="card">
                <%= link_to "#list_projects", data:{ toggle: 'smooth-scroll', offset: '0' }, class: "text-gray-800", style: "text-decoration: none" do%>
                  <div class="card-body">
                    <!-- Heading -->
                    <h4 class="font-weight-bold text-center mb-0">
                      Tous les projets
                    </h4>

                    <!-- Text -->
                    <p class="text-center text-muted mb-0">
                      <small data-toggle="countup" data-from="0" data-to="<%=@projects.where(validated: true).size%>" data-aos data-aos-id="countup:in"></small> projets déjà en ligne <br>
                      <i class="fas fa-chevron-circle-down mt-2 lift"></i>
                    </p>
                  </div>
                <%end%>
              </div>

              <div class="card border-left-md">
                <%= link_to "#new_projects", data:{ toggle: 'smooth-scroll', offset: '0' }, class: "text-gray-800", style: "text-decoration: none" do%>
                  <div class="card-body">

                    <!-- Heading -->
                    <h4 class="font-weight-bold text-center mb-0" id="new_projects">
                      Les plus récents
                    </h4>

                    <!-- Text -->
                    <p class="text-center text-muted mb-0">
                      les derniers projets ajoutés <br>
                      <i class="fas fa-chevron-circle-down lift"></i>
                    </p>
                    
                  </div>
                <%end%>
              </div>
              <div class="card border-left-md">
                <%= link_to "#most_supported_projects", data:{ toggle: 'smooth-scroll', offset: '0' }, class: "text-gray-800", style: "text-decoration: none" do%>
                  <div class="card-body">

                    <!-- Heading -->
                    <h4 class="font-weight-bold text-center mb-0">
                      Les plus soutenus
                    </h4>

                    <!-- Text -->
                    <p class="text-center text-muted mb-0">
                      ceux qui ont reçu le plus de dons <br>
                      <i class="fas fa-chevron-circle-down lift"></i>
                    </p>
                    
                  </div>
                <%end%>
              </div>
              <div class="card border-left-md">
                <%= link_to "#most_visited_projects", data:{ toggle: 'smooth-scroll', offset: '0' }, class: "text-gray-800", style: "text-decoration: none" do%>
                  <div class="card-body">

                    <!-- Heading -->
                    <h4 class="font-weight-bold text-center mb-0">
                      Les plus visités
                    </h4>

                    <!-- Text -->
                    <p class="text-center text-muted mb-0">
                      ceux qui ont le plus de vues <br>
                      <i class="fas fa-chevron-circle-down lift"></i>
                    </p>
                    
                  </div>
                <%end%>
              </div>
            </div>

            <!--Categories
            ========================================-->
            <div class="row align-items-center mb-5 pt-12">
              <div class="col-12 col-md">
                
                <!-- Heading -->
                <h3 class="mb-0 text-gray-700">
                  Parcourir les catégories
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                  Voir les projets liés à des thèmes qui me tiennent à coeur
                </p>
              </div>
              <div class="col-12 col-md-auto">
                <!-- Button -->
                <%=link_to "Voir toutes les catégories", categories_fr_path, class:"btn btn-sm btn-outline-gray-300 d-none d-md-inline"%>
              </div>
            </div> <!-- / .row -->
            <div class="flickity-viewport-visible pt-2 pb-9" data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'>
              <% @categories.each do |category| %>
                <div class="col-12 col-md-5 col-lg-4">
                  <!-- Card -->
                  <%= link_to category_fr_path(category.slug), class: "card shadow-light-lg card-flush mb-7 mb-md-0", title: "Voir plus" do %>
                    <!-- Image -->
                    <div class="card card-border card-border-xl border-info">
                      <%= image_tag category.url, class: "card-img-top shadow-light-lg", alt: "..."%>
                    </div>

                    <!-- Body -->
                    <div class="card-body text-center">

                    <!-- Preheading -->
                    <h3 class="m-1 ml-3 text-gray-700"><%= category.name %></h3>

                    </div>
                  <%end%>
                </div>
              <%end%>
            </div>
            <hr class="mt-5">

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- PROJECTS
    ========================================= -->
    <%=render "most_visited"%>
    <%=render "most_supported"%>
    <%=render "new_projects"%>
    <%=render "all_projects"%>
  
  </div> <!--/ container -->
</section>



