<!-- If ADMIN or PROJECT HOLDER this section appears -->
<% if current_user && (current_user == @project_holder || current_user.is_admin )%>
  <%= render "show_admin" %>

  <div id="modal-status" class="modal hide fade" role="dialog" aria-labelledby="modal-status" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
<% end %>

<!-- @project.image modal -->
<div id="modal-image" class="modal hide fade" role="dialog" aria-labelledby="modal-image" aria-hidden="true">
  <div class="modal-dialog" id="modal-dialog-image" role="document">
    <div class="modal-content" id="modal-content-image"></div>
  </div>
</div>

<!-- CONTENT
================================================== -->
<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row align-items-center">
      <!-- Badge -->
      <%if @project.validated == nil%>
        <span class="badge badge-warning badge-pill badge-float badge-float-outside">
          En attente de validation
        </span>
      <%elsif @project.validated == false%>
        <span class="badge badge-danger badge-pill badge-float badge-float-outside">
          Refusé par l'administration
        </span>
      <%end%>

      <div class="col-12 col-md mb-5">
        <% @project.categories.each do |category| %>
          <%= link_to category_fr_path(category), class: "badge badge-pill badge-primary-soft mb-5", title: "Voir la catégorie" do %>
            <span class="h6 text-uppercase font-weight-bold"><%=category.name%></span>
          <% end %>
        <% end %><br>

        <!-- Link -->
        <%= link_to :back, :class => "font-weight-bold font-size-sm text-decoration-none mb-5 mt-5" do %>
          <i class="fas fa-arrow-left mr-3"></i>
          Page précédente
        <% end %>

        <!-- Heading -->
        <h1 class="display-4 my-2">

          <%= @project.name %>
          <% if current_user && (current_user.is_admin || current_user == @project_holder) %>
            <%=link_to edit_project_fr_path(@project), class:"ml-5 text-gray-700", title:"Editer le projet" do %>
              <i class="fas fa-edit"></i>
            <%end%>
          <% end %>
        </h1>

      </div>
      <div class="col-auto">

        <!-- Buttons -->
        <% if current_user && current_user.is_admin %>
          <%= link_to "Statut", edit_admin_project_fr_path(@project), class: "btn btn-outline-secondary", remote: true %>
          <%= link_to "Supprimer le projet", admin_project_fr_path(@project), class: "btn btn-outline-danger", :method => "delete", data: {confirm: "Êtes-vous sûr ?"} %>
        <% elsif current_user && (current_user == @project_holder) %>
          <%= link_to "Supprimer le projet", project_fr_path(@project), class: "btn btn-outline-danger", :method => "delete", data: {confirm: "Êtes-vous sûr ?"} %>
        <% end %>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">

        <!-- Divider -->
        <hr class="my-6 my-md-8 border-gray-300">

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-8">

        <!-- Heading -->
        <h3>
          Présentation du projet
        </h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-8">
          <%= @project.pitch %>
        </p>

        <!-- Heading -->
        <h3>
          Fonctionnalités
        </h3>

        <!-- Text -->
        <p class="text-gray-800 mb-5">
          <%= @project.functionalities %>
        </p>

        <% if @project.url %>
          <div class="container text-center">
              <%=link_to "Site du projet", @project.url, :target => "_blank" , class:"badge badge-pill badge-primary-soft"%>
            </div>
        <% end %>

      </div>
      <div class="col-12 col-md-4">

        <!-- Card -->
        <%= render 'few_figures' %>

        <!-- Card -->
        <div class="card shadow-light-lg mb-5">
          <div class="card-body">

            <!-- Heading -->
            <h4>
              Porteur du projet
            </h4>

            <!-- different Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700 my-2">
              <%= "#{@project_holder.first_name} #{@project_holder.last_name}" %>
            </h6>

            <!-- Heading -->
            <%= link_to user_fr_path(@project_holder), :class => "font-weight-bold font-size-sm text-decoration-none" do %>
              <%= @project_holder.first_name %>
              <i class="fas fa-arrow-right ml-3"></i>
            <% end %>
          </div>
        </div>

        <% unless @project.licence.blank? %>
          <div class="card shadow-light-lg mb-5">
            <div class="card-body">
              <h4>Licence</h4>
              <span class="d-flex justify-content-center shadow-light badge badge-lg badge-light mt-5 mx-auto bg-white mb-5"><%= @project.licence %></span>
            </div>
          </div>
        <% end %>

        <%= social_share_button_tag(@project.name) %>
      </div>
      <div class="col-auto">
        <%= link_to "Financer", project_charges_path(@project), class: "btn btn-primary fund_btn" %>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <!-- Divider -->
        <hr class="mb-6 border-gray-300">

        <!-- Carousel cards -->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-12">
                <% if @project.images.attached? %>
                  <div class="carousel" data-flickity='{ "lazyLoad": 2, "prevNextButtons": false, "initialIndex": 1, "autoPlay": true }'>
                    <% image_id = 0 %>
                    <% @project.images.each do |image| %>

                      <%= link_to project_image_fr_path(project_slug: @project_id, id: @project_id.id, image_id: image_id), class: "m-0 p-auto", remote: true do %>
                        <div class="col-12 col-md-5 col-lg-4 mx-1">
                          <%= image_tag image, class: "carousel-image rounded" %>
                        </div>
                      <% end %> <!--/  .link_to do-->

                      <% image_id += 1 %>
                    <% end %> <!--/  .each do -->
                  </div>
                <% end %> <!--/  .if -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
