<!-- CONTENT
================================================== -->
<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">

        <!-- Link -->
        <%= link_to "Tous les projets", root_path, class: "fe fe-arrow-left mr-3 font-weight-bold font-size-sm text-decoration-none mb-3" %>

        <!-- Heading -->
        <h1 class="display-4 mb-2">
          <%= @project.name %>
        </h1>

      </div>
      <div class="col-auto">

        <!-- Buttons -->
        <%= link_to "Financer", root_path(@project.id), class: "btn btn-primary" %>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">

        <!-- Divider -->
        <hr class="my-6 my-md-8 border-gray-300">

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-8">

        <!-- Heading -->
        <h3>
          Présentation du projet
        </h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-8">
          <%= @project.pitch %>
        </p>

        <!-- Heading -->
        <h3>
          Fonctionnalités
        </h3>

        <!-- Text -->
        <p class="text-gray-800 mb-5">
          <%= @project.functionalities %>
        </p>

      </div>
      <div class="col-12 col-md-4">

        <!-- Card -->
        <div class="card shadow-light-lg mb-5">
          <div class="card-body">

            <!-- Heading -->
            <h4>
              Quelques chiffres
            </h4>

            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
              Objectif de financement
            </h6>

            <!-- Text -->
            <p class="font-size-sm mb-2">
              <%= @project.value_of_project %> € / mois
            </p>

            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
              Financements déjà acquis
            </h6>

            <!-- Text -->
            <p class="font-size-sm mb-2">
              <%= @project.money_earned %> € / mois
            </p>

            <!-- Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
              Temps de travail quotidien
            </h6>

            <!-- Text -->
            <p class="font-size-sm mb-2">
              <%= @project.daily_time_spent_on_project_per_developer %> H / Jour
            </p>

          </div>
        </div>

        <!-- Card -->
        <div class="card shadow-light-lg">
          <div class="card-body">

            <!-- Heading -->
            <h4>
              Porteur du projet
            </h4>

            <!-- different Heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700 my-2">
              <%= "#{@project_holder.first_name} #{@project_holder.last_name}" %>
            </h6>

            <!-- Text -->
            <p class="font-size-sm text-gray-800">
              Do you feel like you belong working with Good Themes, but we just don’t have your dream job posted? No problem, just reach out.
            </p>

            <!-- Heading -->
            <a href="#!" class="font-weight-bold font-size-sm text-decoration-none">
              Let us know <i class="fe fe-arrow-right ml-3"></i>
            </a>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
