<!doctype html>
<html lang="en">
  <body class="bg-light" style="padding-top: 84px;">
    
    <!-- MODALS
    ================================================== -->
    <!-- Signup: -->
    <div class="modal fade" id="modalSignupVertical" tabindex="-1" role="dialog" aria-labelledby="modalSignupVerticalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="card">

            <!-- Close -->
            <button type="button" class="modal-close close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>

            <!-- Image -->
            <%= image_tag "https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt:"...", class:"card-img-top"%>

            <!-- Shape -->
            <div class="position-relative">
              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
              </div>
            </div>

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalSignupVerticalTitle">
                S'inscrire
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Présentez vos projets OpenSources, et trouvez du soutiens financier. 
              </p>

              <!-- Form -->
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <!-- Email -->
                <div class="field m-5">
                  <%= f.label :adresse_email %><br />
                  <%= f.email_field :email, autofocus: true, placeholder: "email" %>
                </div>

                <!-- Password -->
                <div class="field m-5">
                  <%= f.label :mot_de_passe %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, placeholder: "mot de passe" %>
                </div>

                <!--Password confirmation-->
                <div class="field m-5">
                <%= f.label :confirmez_votre_mot_de_passe %><br />
                <%= f.password_field :password_confirmation, placeholder: "mot de passe" %>
              </div>

                <!-- Submit -->
                <div class="actions m-5">
                  <%= f.submit "S'inscrire", class: "btn btn-block btn-primary", title: "Confirmer l'inscription" %>
                </div>

              <%end%>
              <%= render "devise/shared/links" %>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Signin -->
    <div class="modal fade" id="modalSigninVertical" tabindex="-1" role="dialog" aria-labelledby="modalSigninVerticalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="card">

            <!-- Close -->
            <button type="button" class="modal-close close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>

            <!-- Image -->
            <%= image_tag "https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-1.2.1&auto=format&fit=crop&w=1011&q=80", alt:"...", class:"card-img-top", title: "Connexion"%>

            <!-- Shape -->
            <div class="position-relative">
              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
              </div>
            </div>

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalSigninVerticalTitle">
                Se connecter
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Présentez vos projets OpenSources, et trouvez du soutiens financier.
              </p>

              <!-- Form -->
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <!-- Email -->
                <div class="field m-5">
                  <%= f.label :adresse_email %><br />
                  <%= f.email_field :email, autofocus: true, placeholder: "email" %>
                </div>

                <!-- Password -->
                <div class="field m-5">
                  <%= f.label :mot_de_passe %><br />
                  <%= f.password_field :password, placeholder: "mot de passe" %>
                </div>

                <!-- Remember me -->
                <% if devise_mapping.rememberable? %>
                  <div class="field m-5">
                    <%= f.check_box :remember_me %>
                    <%= f.label :se_souvenir_de_moi %>
                  </div>
                <% end %>

                <!-- Submit -->
                <div class="actions m-5">
                  <%= f.submit "Connexion", class: "btn btn-block btn-primary"%>
                </div>

              <%end%>
              <%= render "devise/shared/links" %>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top mb-3">

                  <!-- Brand -->
                  <a class="navbar-brand" href="index.html">
                    <img src="../assets/img/brand.svg" class="navbar-brand-img" alt="...">
                  </a>

                  <!-- Toggler -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <!-- Collapse -->
                  <div class="collapse navbar-collapse">

                    <!-- Navigation -->
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                          Landings
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                          <div class="row no-gutters">
                            <div class="col-12 col-lg-6">
                              <div class="dropdown-img-left" style="background-image: url(../assets/img/photos/photo-3.jpg);">

                                <!-- Heading -->
                                <h4 class="font-weight-bold text-white mb-0">
                                  Want to see an overview?
                                </h4>

                                <!-- Text -->
                                <p class="font-size-sm text-white">
                                  See all the pages at once.
                                </p>

                                <!-- Button -->
                                <a href="../overview.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                                  View all pages
                                </a>
                                
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              <div class="dropdown-body">
                                <div class="row no-gutters">
                                  <div class="col-6">

                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                      Services
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="../coworking.html">
                                      Coworking
                                    </a>
                                    <a class="dropdown-item" href="../rental.html">
                                      Rental
                                    </a>
                                    <a class="dropdown-item mb-5" href="../job.html">
                                      Job Listing
                                    </a>

                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                      Apps
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="../desktop-app.html">
                                      Desktop
                                    </a>
                                    <a class="dropdown-item" href="../mobile-app.html">
                                      Mobile
                                    </a>

                                  </div>
                                  <div class="col-6">
                                    
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                      Web 
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="../index.html">
                                      Basic
                                    </a>
                                    <a class="dropdown-item" href="../enterprise.html">
                                      Enterprise
                                    </a>
                                    <a class="dropdown-item" href="../service.html">
                                      Service
                                    </a>
                                    <a class="dropdown-item" href="../cloud.html">
                                      Cloud Hosting
                                    </a>

                                  </div>
                                </div> <!-- / .row -->
                              </div>
                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarPages" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                          Pages
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
                          <div class="row no-gutters">
                            <div class="col-6 col-lg-4">
                              
                              <!-- Heading -->
                              <h6 class="dropdown-header">
                                Career
                              </h6>

                              <!-- List -->
                              <a class="dropdown-item" href="../careers.html">
                                Listing
                              </a>
                              <a class="dropdown-item mb-5" href="../career-single.html">
                                Opening
                              </a>

                              <!-- Heading -->
                              <h6 class="dropdown-header">
                                Company
                              </h6>

                              <!-- List -->
                              <a class="dropdown-item" href="../about.html">
                                About
                              </a>
                              <a class="dropdown-item" href="../pricing.html">
                                Pricing
                              </a>
                              <a class="dropdown-item mb-5 mb-lg-0" href="../terms-of-service.html">
                                Terms
                              </a>             

                            </div>
                            <div class="col-6 col-lg-4">
                              
                              <!-- Heading -->
                              <h6 class="dropdown-header">
                                Help center
                              </h6>

                              <!-- List -->
                              <a class="dropdown-item" href="../help-center.html">
                                Overview
                              </a>
                              <a class="dropdown-item mb-5" href="../help-center-article.html">
                                Article
                              </a>

                              <!-- Heading -->
                              <h6 class="dropdown-header">
                                Contact
                              </h6>

                              <!-- List -->
                              <a class="dropdown-item" href="../contact.html">
                                Basic
                              </a>
                              <a class="dropdown-item" href="../contact-alt.html">
                                Cover
                              </a>          

                            </div>
                            <div class="col-6 col-lg-4">
                              
                              <!-- Heading -->
                              <h6 class="dropdown-header">
                                Blog
                              </h6>

                              <!-- List -->
                              <a class="dropdown-item" href="../blog.html">
                                Rich View
                              </a>
                              <a class="dropdown-item" href="../blog-post.html">
                                Article
                              </a>
                              <a class="dropdown-item" href="../blog-showcase.html">
                                Showcase
                              </a>
                              <a class="dropdown-item" href="../blog-search.html">
                                Search
                              </a>            

                            </div>
                          </div>
                        </div> <!-- / .row -->
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarAccount" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                          Connexion/Inscription
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                          <li class="dropdown-item dropright">
                            <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#modalSignin">
                              Se connecter
                            </a>
                          </li>
                          <li class="dropdown-item dropright">
                            <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                              Sign Up
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="signup-cover.html">
                                Side Cover
                              </a>
                              <a class="dropdown-item" href="signup-illustration.html">
                                Illustration
                              </a>
                              <a class="dropdown-item" href="signup.html">
                                Basic
                              </a>
                              <a class="dropdown-item" data-toggle="modal" href="#modalSignupHorizontal">
                                Modal Horizontal
                              </a>
                              <a class="dropdown-item" data-toggle="modal" href="#modalSignupVertical">
                                Modal Vertical
                              </a>
                            </div>
                          </li>
                          <li class="dropdown-item dropright">
                            <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                              Password Reset
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="password-reset-cover.html">
                                Side Cover
                              </a>
                              <a class="dropdown-item" href="password-reset-illustration.html">
                                Illustration
                              </a>
                              <a class="dropdown-item" href="password-reset.html">
                                Basic
                              </a>
                            </div>
                          </li>
                          <li class="dropdown-item dropright">
                            <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                              Error
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="error-cover.html">
                                Side Cover
                              </a>
                              <a class="dropdown-item" href="error-illustration.html">
                                Illustration
                              </a>
                              <a class="dropdown-item" href="error.html">
                                Basic
                              </a>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown mr-5">
                        <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                          À propos
                        </a>
                        <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                          <div class="list-group list-group-flush">
                            <a class="list-group-item" href="../docs/index.html">
                              
                              <!-- Icon -->
                              <div class="icon icon-sm text-primary">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"/><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"/><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"/></g></svg>
                              </div>
                              
                              <!-- Content -->
                              <div class="ml-4">

                                <!-- Heading -->
                                <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                  Manifeste
                                </h6>

                                <!-- Text -->
                                <p class="font-size-sm text-gray-700 mb-0">
                                  Vos données
                                </p>

                              </div>

                            </a>
                            <a class="list-group-item" href="../docs/alerts.html">
                              
                              <!-- Icon -->
                              <div class="icon icon-sm text-primary">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="4" y="4" width="7" height="7" rx="1.5"/><path d="M5.5 13h4a1.5 1.5 0 011.5 1.5v4A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-4A1.5 1.5 0 015.5 13zm9-9h4A1.5 1.5 0 0120 5.5v4a1.5 1.5 0 01-1.5 1.5h-4A1.5 1.5 0 0113 9.5v-4A1.5 1.5 0 0114.5 4zm0 9h4a1.5 1.5 0 011.5 1.5v4a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-4a1.5 1.5 0 011.5-1.5z" fill="#335EEA" opacity=".3"/></g></svg>
                              </div>
                              
                              <!-- Content -->
                              <div class="ml-4">
                                
                                <!-- Heading -->
                                <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                  Notre équipe
                                </h6>

                                <!-- Text -->
                                <p class="font-size-sm text-gray-700 mb-0">
                                  + sur le projet
                                </p>

                              </div>

                            </a>
                            <a class="list-group-item" href="../docs/changelog.html">
                              
                              <!-- Icon -->
                              <div class="icon icon-sm text-primary">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
                              </div>
                              
                              <!-- Content -->
                              <div class="ml-4">
                                
                                <!-- Heading -->
                                <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                  Licence
                                </h6>

                                <!-- Text -->
                                <p class="font-size-sm text-gray-700 mb-0">
                                  Licence Boostrap
                                </p>

                              </div>
                                
                              <!-- Badge -->
                              <span class="badge badge-pill badge-primary-soft ml-auto">
                                1.0
                              </span>

                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>

                  </div>
                  
                </nav>


    <!-- BREADCRUMB
    ================================================== -->
    <nav class="d-lg-none bg-gray-800">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <span class="text-white">
                  Docs
                </span>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span class="text-white">
                  Navbar
                </span>
              </li>
            </ol>

          </div>
          <div class="col-auto">
            
            <!-- Toggler -->
            <div class="navbar-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>

    <!-- CONTENT
    ================================================== -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-3 col-xl-2 px-lg-0 border-bottom border-bottom-lg-0 border-right-lg border-gray-300 sidenav sidenav-left">
            
            <div class="collapse d-lg-block" id="sidenavCollapse">
              <div class="py-7 py-lg-9 px-lg-7">

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                  Getting started
                </h6>

                <!-- Links -->
                <ul class="list mb-6">
                  <li class="list-item">
                    <a class="list-link" href="../docs/index.html">Introduction</a>
                  </li>
                  <li class="list-item d-flex">
                    <a class="list-link" href="../docs/changelog.html">Changelog</a> <span class="badge badge-pill badge-primary-soft ml-auto align-self-center">1.2.0</span>
                  </li>
                </ul>

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                  Components
                </h6>

                <!-- Links -->
                <ul class="list mb-6">
                  <li class="list-item">
                    <a class="list-link" href="../docs/alerts.html">Alerts</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/avatars.html">Avatars</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/badges.html">Badges</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/breadcrumb.html">Breadcrumb</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/buttons.html">Buttons</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/cards.html">Cards</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/devices.html">Devices</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/dropdowns.html">Dropdowns</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/forms.html">Forms</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/icons.html">Icons</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/lists.html">Lists</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/modal.html">Modal</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/navbar.html">Navbar</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/navs.html">Navs</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/pagination.html">Pagination</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/popovers.html">Popovers</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/progress.html">Progress</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/screenshot.html">Screenshot</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/shapes.html">Shapes</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/spinners.html">Spinners</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/switches.html">Switches</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/tables.html">Tables</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/toasts.html">Toasts</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/tooltips.html">Tooltips</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/typography.html">Typography</a>
                  </li>
                </ul>

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                  Plugins
                </h6>

                <!-- Links -->
                <ul class="list mb-6">
                  <li class="list-item">
                    <a class="list-link" href="../docs/aos.html">AOS</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/choices.html">Choices</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/countup.html">Count up</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/dropzone.html">Dropzone</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/fancybox.html">Fancybox</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/flickity.html">Flickity</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/isotope.html">Isotope</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/jarallax.html">Jarallax</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/map.html">Map</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/quill.html">Quill</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/smooth-scroll.html">Smooth scroll</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/typed.html">Typed</a>
                  </li>
                </ul>


                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                  Utilities
                </h6>

                <!-- List -->
                <ul class="list mb-6">
                  <li class="list-item">
                    <a class="list-link" href="../docs/background.html">Background</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/borders.html">Borders</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/images.html">Images</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/lift.html">Lift</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/overlay.html">Overlay</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/position.html">Position</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/shadows.html">Shadows</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/sizing.html">Sizing</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/type.html">Type</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/visibility.html">Visibility</a>
                  </li>
                </ul>

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                  Design
                </h6>

                <!-- Links -->
                <ul class="list mb-0">
                  <li class="list-item">
                    <a class="list-link" href="../docs/figma.html">Figma</a>
                  </li>
                  <li class="list-item">
                    <a class="list-link" href="../docs/illustrations.html">Illustrations</a>
                  </li>
                </ul>

              </div>
            </div>


          </div>
        </div> <!-- / .row -->
      </div>
    </section>      
  </body>
</html>