<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="mb-1">Liste des dons reçus (du plus récent au plus ancien)</h2>
        <div class="card">
          <div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Projet</th>
                    <th scope="col">Valeur(€)</th>
                    <th scope="col">Date</th>
                    <th scope="col">Statut</th>
                  </tr>
                </thead>
                <tbody>
                <% @donations.each do |donation| %>
                  <tr>
                    <% if donation.project.user.first_name && donation.project.user.last_name %>
                      <td><%= donation.project.user.first_name %> <%= donation.project.user.last_name %></td>
                    <% else %>
                      <td><%= donation.project.user.email %></td>
                    <% end %>
                    <td><%= donation.project.name %></td>
                    <td><%= donation.amount %></td>
                    <td><%= donation.created_at.strftime('%d/%m/%Y') %></td>
                    <% if donation.transfered %>
                      <td>Transféré</td>
                    <% elsif !donation.project.user.bank_details.last %>
                      <td>Pas de rib</td>
                    <% else %>
                      <td><%= link_to "Régler", donation_path(donation), :method=> :patch, :class => "btn btn-secondary" %></td>
                    <% end %>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

            