<!-- NAVBAR
================================================== -->
<header id="header">

  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white border-bottom">

    <!-- Brand -->
    <%= link_to root_path, :class => "navbar-brand" do%>
      <h2 class="ml-5 mt-2">
          <%= image_tag "https://pictures.kitties.netlib.re/storage/logo_white.png", class: "img-logo",alt:"index"%>
      </h2>
    <%end%>

    <!-- Toggler -->
    <button class="navbar-toggler btn-rounded-circle btn-lg" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-ellipsis-v"></i>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-2">
          <%=link_to "#", class: "nav-link dropdown-toggle text-gray-700", id: "navbarLandings", data:{ toggle: 'dropdown' }, aria:{haspopup: "true", expanded: "false"} do %>
            <i class="fas fa-user"></i>
          <%end%>
          <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div class="dropdown-img-left" style="background-image: url(https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
                  <!-- Heading -->
                  <% if !user_signed_in? %>
                    <h4 class="font-weight-bold text-white mb-2">
                      Vous voulez proposer un projet?
                    </h4>
                    <!-- Text -->
                    <p class="font-size-sm text-white">      
                      Créez un compte et trouvez des financements auprès de particuliers.
                    </p>
                  <% else %>
                    <h4 class="font-weight-bold text-white mb-2">
                      Proposez votre projet !
                    </h4>

                    <!-- Text -->
                    <p class="font-size-sm text-white">      
                    Trouvez des financements auprès de particuliers.
                    </p>
                  <% end %>
                  </p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="dropdown-body mr-5">
                  <div class="row no-gutters">
                    <div class="col-6">
                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Utilisateur
                      </h6>

                      <!-- List -->
                      <% if user_signed_in? %>
                        <%=link_to "Mon profil", user_fr_path(current_user), class:"dropdown-item my-2"%>
                        <%=link_to "Créer un projet", new_project_fr_path, class:"dropdown-item my-2"%>
                        <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", method: :delete  %>
                      <%else%>
                        <%=link_to "S'inscrire", new_user_registration_fr_path, class:"dropdown-item"%>
                        <%=link_to "Se connecter", new_user_session_fr_path, class:"dropdown-item"%>
                      <%end%>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>
        <% if user_signed_in? && current_user.is_admin %>
          <div class="d-flex align-items-center mr-3">
                <%=link_to "Administrateur", admin_index_path , class:"badge badge-pill badge-primary-soft"%>
          </div>
        <% end %>
          <div class="d-flex align-items-center mr-10">
             
              <%=link_to "À propos", static_pages_fr_path , class:"badge badge-pill badge-primary-soft"%>
          </div>
          
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
