<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>GoOpenSource</title>
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-512/open-source-1-555779.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= javascript_include_tag 'toast' %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
